<U>Tip:</U>
    If you are short on screen space try holding the right mouse button inside
    a frame and select "Open Frame in Window"
<U>Tip:</U>
    If you need help you can always contact our
    <A HREF="mailto:help@es.embnet.org" TARGET="main">Help Desk</A> which
    is open to everybody
<U>Tip:</U>
    When working on the command line, press [TAB] to ask the shell to
    complete a partially type command or file name for you
<U>Tip:</U>
    On the command line, typing [CTRL]+[D] after a partial command or file name 
    will list all alternatives starting with those letters
<U>Tip:</U>
    Using the up and down arrows on the command line will let you browse
    over the previous commands
